td{
    min-width: 150px;
    overflow: auto;
  }

input{
  text-align: center;
}

.text-bold{
  font-weight: bold;
}

a{
  padding: 10px;
  text-decoration: none;
}

#UserName{
  color: white;
  cursor: pointer;
}

.borrar-fila{
  cursor: pointer;
}

.navegacion-color{
  
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373B44, #4286f4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373B44, #4286f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}